body{
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #5299d3, #88A9DF);
  color: white;
  text-align: center;
          
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
  border-radius: 10px;            
}

button{
  background-color: #0b5563;
  color: white;
  border: none;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 6px black;
  cursor: pointer;
}
button:hover {
  background-color: #15508E;
}
.final-step,
.second-step{
  display: none;
}
input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;

}
#resultado {
  font-size: 25px;
}